body{
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3.5rem;
    color: hsla(0, 3%, 11%, 0.848);
    filter: drop-shadow( 0 0 5px black);
    font-weight: bold;
}
#choices{
    margin-bottom: 30px;
}
#choices button{
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 250px;
    background-color: rgb(37, 104, 65);
    cursor: pointer;
    transition: background-color 0.5s  ease;
}
#choices button:hover{
    background-color: rgb(8, 171, 8);
}
#playerDisplay , #computerDisplay{
    font-size: 2.5rem;
}
#resultDisplay{
    font-size: 3rem;
    margin: 20px;
   
}
.greenText , #PlayScoreDisplay{
    color: rgb(23, 140, 23) ;
}
.redText , #ComputerScoreDisplay{
    color: red;
}